@model MvcProjesi.Data.Makale

@{
    ViewBag.Title = "YorumMakalesi";
}


<h2>Makale Detayı</h2>

<div style="width:100%;margin-top:25px;box-shadow:0 0 5px gray;padding:25px;">
    <!--Başlığı, büyük ve renkli görünsün diye, h3 tagı içerisine aldık-->
    <h3 style="font-weight:bold;color:red">
        @Html.DisplayFor(i => Model.Baslik)
    </h3>

    <!--Başlıkla içerik arasına, dikey çizgi ekliyoruz.-->
    <hr />

    @Html.DisplayFor(i => Model.Icerik)
    <hr />
    <!--Tarih başlığını, tarih içeriğine bağlamak için Label kullandık.-->
    @Html.Label("Tarih : ")

    @Html.DisplayFor(i => Model.Tarih)
    <hr />
    <h4>Makaleyi Yazan</h4>

    <!--Burada bir değişkende, ad ile soyadı birleştirip ekrana bastık.-->
    @{string adSoyad = Model.Uye.Ad + " " + Model.Uye.Soyad;}
    @Html.Label("Adı ve Soyadı : ")&nbsp;&nbsp;@adSoyad
</div>